<div class="fields">
  <%= form.input :value, :label => false, :input_html => { :class => 'short_input' } %>
  <%= form.input :_destroy, :as => :hidden %>
  <%= link_to_function "x", "remove_fields(this)" %>
</div>
