<h1>Listing specials</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @specials.order_by([[:name, :asc]]).each do |special| %>
  <tr>
    <td><%= link_to special.name, special %></td>
    <td><%= link_to 'Edit', edit_special_path(special) %></td>
    <td><%= link_to 'Destroy', special, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Special', new_special_path %>
